In [47]:
import pandas as pd

In [48]:
df = pd.read_excel('static/data/results.xlsx')

In [49]:
df.head()

   Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4
0         NaN         NaN        NaN        NaN         NaN
1         NaN         NaN        NaN        NaN         NaN
2         NaN         NaN        NaN        NaN         NaN
3         NaN         NaN        NaN        NaN         NaN
4         NaN         NaN        NaN        NaN         NaN

In [50]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [51]:
df

    Unnamed: 0  Unnamed: 1   Unnamed: 2             Unnamed: 3  Unnamed: 4
0          NaN         NaN          NaN                    NaN         NaN
1          NaN         NaN          NaN                    NaN         NaN
2          NaN         NaN          NaN                    NaN         NaN
3          NaN         NaN          NaN                    NaN         NaN
4          NaN         NaN          NaN                    NaN         NaN
..         ...         ...          ...                    ...         ...
59         NaN        28.0   S190302029   KENGAR SIDDHI SURESH        7.05
60         NaN        42.0   S190302043    MORE PRATIK NAGNATH        6.91
61         NaN        24.0   S190302025     HINGE NIKHIL SUNIL        6.89
62         NaN        52.0   S190302053    SABLE ADWAIT ASHISH        6.86
63         NaN         8.0   S190302008   BAWKAR SNEHAL MAHESH        6.41

[64 rows x 5 columns]

In [52]:
df = df.drop(columns=['Unnamed: 0'])

In [53]:
df

    Unnamed: 1   Unnamed: 2             Unnamed: 3  Unnamed: 4
0          NaN          NaN                    NaN         NaN
1          NaN          NaN                    NaN         NaN
2          NaN          NaN                    NaN         NaN
3          NaN          NaN                    NaN         NaN
4          NaN          NaN                    NaN         NaN
..         ...          ...                    ...         ...
59        28.0   S190302029   KENGAR SIDDHI SURESH        7.05
60        42.0   S190302043    MORE PRATIK NAGNATH        6.91
61        24.0   S190302025     HINGE NIKHIL SUNIL        6.89
62        52.0   S190302053    SABLE ADWAIT ASHISH        6.86
63         8.0   S190302008   BAWKAR SNEHAL MAHESH        6.41

[64 rows x 4 columns]

In [55]:
df.dropna(inplace=True)

In [56]:
df

    Unnamed: 1   Unnamed: 2                    Unnamed: 3  Unnamed: 4
19         7.0   S190302007         BARI DIVESH SHYAMKANT        9.25
20        10.0   S190302010          BHAGWAT PRATHAMESH R        9.02
21        45.0   S190302046         NIKAM TEJAS RAGHUNATH        8.93
22        37.0   S190302038           MAHAJAN ANSH PRADIP        8.84
23        62.0   S190302063        SWATHI SUDHAKAR PEPETI        8.84
24        61.0   S190302062       SUTAR SHRIKRISHNA ASHOK        8.80
25        51.0   S190302052                   RUDRA LAGDE        8.75
26        35.0   S190302036             KUHAR ADITI DILIP        8.59
27        57.0   S190302058     SHANBHAG PRAHLAD NARSINHA        8.59
28        56.0   S190302057       SHAIKH ABDULKARIM SALIM        8.52
29        53.0   S190302054        SANDEEP MALHARI BORKAR        8.45
30        19.0   S190302020           GITE SARTHAK SANDIP        8.41
31        23.0   S190302024             HAKIM SANIYA MUSA        8.39
32        38.0   S190302039     MAHANGADE SHREYAS RAJARAM        8.39
33        14.0   S190302015       GANDHALE SWAPNIL SAMPAT        8.34
34        30.0   S190302031         KHACHANE DEVESH SUNIL        8.34
35        16.0   S190302017        GHARAT ISHWARI TUKARAM        8.30
36        34.0   S190302035          KUDALE PRANAV YUVRAJ        8.25
37        46.0   S190302047            NISHCHAY THEPADIYA        8.25
38        21.0   S190302022        GUNJAL ANIRUDDHA DIPAK        8.20
39        60.0   S190302061      SONAWANE BHAGYASHRI ARUN        8.18
40        18.0   S190302019     GIRAM ARTI CHANDRASHEKHAR        8.16
41        20.0   S190302021          GORE PRADNYA AJINATH        8.16
42        59.0   S190302060           SHINDE MEGHA VASANT        8.16
43        63.0   S190302064       TAGADE OMKAR VISHWANATH        8.11
44        39.0   S190302040       MANE VAISHNAVI SHRIRANG        8.09
45        11.0   S190302011         CHAVHAN OMKAR SANTOSH        8.07
46        12.0   S190302012      CHIRMADE VEDANT JITENDRA        8.02
47        36.0   S190302037       KUMKAR YUGANTI RAVINDRA        7.98
48        31.0   S190302032        KHATAVKAR VARAD TUSHAR        7.89
49        50.0   S190302051          RAUT SIDDHIKA SACHIN        7.80
50        15.0   S190302016         GANGURDE KUNAL RAMESH        7.77
51        33.0   S190302034          KOLHE NITIN NIVRUTTI        7.64
52         1.0   S190302001       ADE PRATHAMESH MANGILAL        7.48
53        26.0   S190302027        KADAM SAMIKSHA KRISHNA        7.39
54         5.0   S190302005         BANGAR VINAYAK KAILAS        7.32
55        17.0   S190302018          GHARTE KHUSHI HEMANT        7.27
56        29.0   S190302030        KENJALE ABHISHEK VILAS        7.27
57        49.0   S190302050   PAWAR NISHIGANDHA KHANDERAO        7.23
58        54.0   S190302055          SATPUTE MRUNAL MANOJ        7.16
59        28.0   S190302029          KENGAR SIDDHI SURESH        7.05
60        42.0   S190302043           MORE PRATIK NAGNATH        6.91
61        24.0   S190302025            HINGE NIKHIL SUNIL        6.89
62        52.0   S190302053           SABLE ADWAIT ASHISH        6.86
63         8.0   S190302008          BAWKAR SNEHAL MAHESH        6.41

In [61]:
df.drop(columns=['Unnamed: 1'],inplace=True)

In [62]:
df.head()

     Unnamed: 2               Unnamed: 3  Unnamed: 4
19   S190302007    BARI DIVESH SHYAMKANT        9.25
20   S190302010     BHAGWAT PRATHAMESH R        9.02
21   S190302046    NIKAM TEJAS RAGHUNATH        8.93
22   S190302038      MAHAJAN ANSH PRADIP        8.84
23   S190302063   SWATHI SUDHAKAR PEPETI        8.84

In [63]:
df

     Unnamed: 2                    Unnamed: 3  Unnamed: 4
19   S190302007         BARI DIVESH SHYAMKANT        9.25
20   S190302010          BHAGWAT PRATHAMESH R        9.02
21   S190302046         NIKAM TEJAS RAGHUNATH        8.93
22   S190302038           MAHAJAN ANSH PRADIP        8.84
23   S190302063        SWATHI SUDHAKAR PEPETI        8.84
24   S190302062       SUTAR SHRIKRISHNA ASHOK        8.80
25   S190302052                   RUDRA LAGDE        8.75
26   S190302036             KUHAR ADITI DILIP        8.59
27   S190302058     SHANBHAG PRAHLAD NARSINHA        8.59
28   S190302057       SHAIKH ABDULKARIM SALIM        8.52
29   S190302054        SANDEEP MALHARI BORKAR        8.45
30   S190302020           GITE SARTHAK SANDIP        8.41
31   S190302024             HAKIM SANIYA MUSA        8.39
32   S190302039     MAHANGADE SHREYAS RAJARAM        8.39
33   S190302015       GANDHALE SWAPNIL SAMPAT        8.34
34   S190302031         KHACHANE DEVESH SUNIL        8.34
35   S190302017        GHARAT ISHWARI TUKARAM        8.30
36   S190302035          KUDALE PRANAV YUVRAJ        8.25
37   S190302047            NISHCHAY THEPADIYA        8.25
38   S190302022        GUNJAL ANIRUDDHA DIPAK        8.20
39   S190302061      SONAWANE BHAGYASHRI ARUN        8.18
40   S190302019     GIRAM ARTI CHANDRASHEKHAR        8.16
41   S190302021          GORE PRADNYA AJINATH        8.16
42   S190302060           SHINDE MEGHA VASANT        8.16
43   S190302064       TAGADE OMKAR VISHWANATH        8.11
44   S190302040       MANE VAISHNAVI SHRIRANG        8.09
45   S190302011         CHAVHAN OMKAR SANTOSH        8.07
46   S190302012      CHIRMADE VEDANT JITENDRA        8.02
47   S190302037       KUMKAR YUGANTI RAVINDRA        7.98
48   S190302032        KHATAVKAR VARAD TUSHAR        7.89
49   S190302051          RAUT SIDDHIKA SACHIN        7.80
50   S190302016         GANGURDE KUNAL RAMESH        7.77
51   S190302034          KOLHE NITIN NIVRUTTI        7.64
52   S190302001       ADE PRATHAMESH MANGILAL        7.48
53   S190302027        KADAM SAMIKSHA KRISHNA        7.39
54   S190302005         BANGAR VINAYAK KAILAS        7.32
55   S190302018          GHARTE KHUSHI HEMANT        7.27
56   S190302030        KENJALE ABHISHEK VILAS        7.27
57   S190302050   PAWAR NISHIGANDHA KHANDERAO        7.23
58   S190302055          SATPUTE MRUNAL MANOJ        7.16
59   S190302029          KENGAR SIDDHI SURESH        7.05
60   S190302043           MORE PRATIK NAGNATH        6.91
61   S190302025            HINGE NIKHIL SUNIL        6.89
62   S190302053           SABLE ADWAIT ASHISH        6.86
63   S190302008          BAWKAR SNEHAL MAHESH        6.41

In [65]:
df.columns

Index(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [79]:
df = df.rename(columns={'Unnamed: 2':'Seat No.','Unnamed: 3':'Names','Unnamed: 4':'SGPA'})

In [80]:
df.head()

       Seat No.                    Names  SGPA
19   S190302007    BARI DIVESH SHYAMKANT  9.25
20   S190302010     BHAGWAT PRATHAMESH R  9.02
21   S190302046    NIKAM TEJAS RAGHUNATH  8.93
22   S190302038      MAHAJAN ANSH PRADIP  8.84
23   S190302063   SWATHI SUDHAKAR PEPETI  8.84

In [82]:
df.to_csv("new_df.csv")

In [83]:
new_df = pd.read_csv('static/data/new_df.csv')

In [87]:
new_df.drop(columns=['Unnamed: 0'],inplace=True)

In [88]:
new_df

       Seat No.                         Names  SGPA
0    S190302007         BARI DIVESH SHYAMKANT  9.25
1    S190302010          BHAGWAT PRATHAMESH R  9.02
2    S190302046         NIKAM TEJAS RAGHUNATH  8.93
3    S190302038           MAHAJAN ANSH PRADIP  8.84
4    S190302063        SWATHI SUDHAKAR PEPETI  8.84
5    S190302062       SUTAR SHRIKRISHNA ASHOK  8.80
6    S190302052                   RUDRA LAGDE  8.75
7    S190302036             KUHAR ADITI DILIP  8.59
8    S190302058     SHANBHAG PRAHLAD NARSINHA  8.59
9    S190302057       SHAIKH ABDULKARIM SALIM  8.52
10   S190302054        SANDEEP MALHARI BORKAR  8.45
11   S190302020           GITE SARTHAK SANDIP  8.41
12   S190302024             HAKIM SANIYA MUSA  8.39
13   S190302039     MAHANGADE SHREYAS RAJARAM  8.39
14   S190302015       GANDHALE SWAPNIL SAMPAT  8.34
15   S190302031         KHACHANE DEVESH SUNIL  8.34
16   S190302017        GHARAT ISHWARI TUKARAM  8.30
17   S190302035          KUDALE PRANAV YUVRAJ  8.25
18   S190302047            NISHCHAY THEPADIYA  8.25
19   S190302022        GUNJAL ANIRUDDHA DIPAK  8.20
20   S190302061      SONAWANE BHAGYASHRI ARUN  8.18
21   S190302019     GIRAM ARTI CHANDRASHEKHAR  8.16
22   S190302021          GORE PRADNYA AJINATH  8.16
23   S190302060           SHINDE MEGHA VASANT  8.16
24   S190302064       TAGADE OMKAR VISHWANATH  8.11
25   S190302040       MANE VAISHNAVI SHRIRANG  8.09
26   S190302011         CHAVHAN OMKAR SANTOSH  8.07
27   S190302012      CHIRMADE VEDANT JITENDRA  8.02
28   S190302037       KUMKAR YUGANTI RAVINDRA  7.98
29   S190302032        KHATAVKAR VARAD TUSHAR  7.89
30   S190302051          RAUT SIDDHIKA SACHIN  7.80
31   S190302016         GANGURDE KUNAL RAMESH  7.77
32   S190302034          KOLHE NITIN NIVRUTTI  7.64
33   S190302001       ADE PRATHAMESH MANGILAL  7.48
34   S190302027        KADAM SAMIKSHA KRISHNA  7.39
35   S190302005         BANGAR VINAYAK KAILAS  7.32
36   S190302018          GHARTE KHUSHI HEMANT  7.27
37   S190302030        KENJALE ABHISHEK VILAS  7.27
38   S190302050   PAWAR NISHIGANDHA KHANDERAO  7.23
39   S190302055          SATPUTE MRUNAL MANOJ  7.16
40   S190302029          KENGAR SIDDHI SURESH  7.05
41   S190302043           MORE PRATIK NAGNATH  6.91
42   S190302025            HINGE NIKHIL SUNIL  6.89
43   S190302053           SABLE ADWAIT ASHISH  6.86
44   S190302008          BAWKAR SNEHAL MAHESH  6.41